<h1>About this forum</h1>
<hr />

<p>Below is the spec for this app, where the green text indicates what's present and the red - what's not been developed yet:</p>

<pre>
ФОРУМ

<span class="green">* Има два типа потребители -- обикновени и администратори

<span class="black">=== Административна част</span>

* Достъпна е само за администратори
<span class="red">* Дава интерфейс за създаване и управление на секции и форуми

<span class="black">Секциите:</span>

* съдържат форуми
* имат име (текстов низ)
* могат да бъдат пренареждани

<span class="black">Форумите:</span>

* имат име (текстов низ)
* принадлежат на секция
* могат да бъдат пренареждани в рамките на секцията си
* могат да бъдат заключвани (всички могат да четат, но само
администратори могат да пишат)</span>

<span class="black">=== Потребителска част</span>

* Регистрация на потребители
* Форумите са организирани по секции и се показват в реда, определен в
административния интерфейс
* Потребителите могат да създават нови теми в избран от тях форум или
да отговарят по вече създадени теми
* Потребителите трябва да могат да редактират профила си, който включва:
** Име
** Информация за контакти (e-mail, разни IM)
** аватар -- <span class="red">да могат да въведат URL</span> или да изберат да ползват своя
"gravatar":http://en.gravatar.com/site/implement/ruby
** подпис (текстов низ), който се показва накрая на всеки отговор на потребителя
* Потребителите трябва да могат да редактират мненията си. Ако едно
мнение е редактирано трябва да се извежда и времето на последната му
редакция при текста
* Потребителите трябва да могат да си изпращат лични съобщения
* администраторите могат:
** да редактират и трият чужди мнения
** да заключват и трият теми
** да местят теми между форумите
* Текстът на отговорите трябва да се форматира с
"Textile":http://wiki.rubyonrails.org/rails/pages/RedCloth</span>

</pre>

source: <a href="http://github.com/zzeni/rr_forum" target="_blank">http://github.com/zzeni/rr_forum</a>

